* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35) ;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:linear-gradient(#87ceeb,#e0f6ff) ;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 65px;
    animation: pipe-animation 2s infinite linear ;
}

.mario {
    width: 140px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: mario-animation 500ms ease-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.gameOver {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: calc(50% - 100px);
    animation: gameOver-animation 300ms linear;
    
}

.restart {
    position: absolute;
    bottom: 50px;
    width: 200px;
    left: calc(50% - 100px);
    cursor: pointer;
    animation: restart-animation 1.2s;
}

@keyframes pipe-animation {
   from {
        right: -80px;
   }
   
   to {
        right: 100%;
   }
}

@keyframes mario-animation {
    
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
    
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }

}

@keyframes gameOver-animation {
    from {
        top: 0px;
        opacity: 0;
    }

    to{
        bottom: 200px;
        opacity: 1;
    }


}

@keyframes restart-animation {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

